numpy==1.20.0
zarr
scipy
cython
Cython
pymongo
click
configargparse
ConfigArgParse
ConfigParser
pytest
pytest-cov
flake8
mlpack3
git+https://github.com/funkey/numcodecs.git@f950047d7b666723f81006cbdfd82c0e6705c39c#egg=numcodecs
git+https://github.com/funkey/zarr.git@9ddf849a6e3329f5ff361ebf6156712926e2fdfe#egg=zarr
git+https://github.com/funkelab/daisy.git@0.3-dev#egg=daisy
git+https://github.com/funkelab/funlib.learn.tensorflow.git#egg=funlib.learn.tensorflow
git+https://github.com/funkelab/funlib.show.neuroglancer.git@master#egg=funlib.show.neuroglancer
git+https://github.com/funkelab/funlib.math.git@master#egg=funlib.math
git+https://github.com/funkelab/funlib.run.git@master#egg=funlib.run
git+https://github.com/funkey/gunpowder.git@master#egg=gunpowder
git+https://github.com/funkelab/lsd.git#egg=lsds
